.carousel_image {
  object-fit: cover;

  width: 100%;
  height: 700px;
  max-height: 700px;
}

.carousel_spacing {
  /* TODO LAYNE: Use SCSS to make this a media query on mobile */
  /* padding-left: 0 !important;
    padding-right: 0 !important; */
}
