.InfiniteDogs {
}

.breed_dropdown {
  button {
    width: 100%;
    margin-bottom: 1rem;
  }
  div {
    height: 30rem;
    overflow-y: scroll;
  }
}

.inner_container {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
